@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px ;
}
.sepration{
    width: 80%;
    margin: 10px 0 50px 0;
}
/* logout button */

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgba(252, 200, 34, 1);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 15px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }


.card-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  .card-containar{
    width: 50%;
   height: 60vh;
   display: flex;
   flex-direction: column; 
   padding: 0 40px;
   border-radius:20px ;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  }
  .card-containar h1{
    font-weight: 600;
    margin-top: 20px;
    font-size: 3vw;
color: rgba(252, 200, 34, 1);
  }
  .quiz-option{
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 10px 20px;
  }
  .link:hover{
    color: rgba(252, 200, 34, 1);
  }
  .link{
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width:430px) {
    
    .navbar{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px ;
  }

    .logo img{
      width: 50vw;
    }
    .Btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: none;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
      background-color: rgba(252, 200, 34, 1);
    }
  

    .card-containar h1{
      font-weight: 600;
      font-size: 7vw;
      margin-top: 20px;
  color: rgba(252, 200, 34, 1);
    }

    .quiz-option{
      /* border: 1px solid black; */
      border-radius: 5px;
      margin-top: 20px;
      font-size: 4.5vw;
      cursor: pointer;box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      padding: 10px 20px;
    }
    .link:hover{
      color: rgba(252, 200, 34, 1);
    }
    .link{
      text-decoration: none;
      color: black;
    }


    .card-containar{
      width: 60%;
     height: 45vh;
     display: flex;
     flex-direction: column; 
     padding: 0 40px;
     border-radius:20px ;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
    }

  }